/*
* <license header>
*/

.page-content { 
  display:-ms-flexbox;
  display:flex;
  -ms-flex:1 0 auto;
  flex:1 0 auto;
  -ms-flex-pack:center;
  justify-content:center;
  overflow:auto
}

.main {
  width: 100%;
  min-height: 800px;
  margin: 10px 20px;
}

#id {
  width: 800px
}

.urlCell, .pathCell {
  word-break: break-all;
}

.indentOffset {
  border-left: 1px solid transparent;
  display: inline-flex;
  white-space: nowrap;
}

.indentBox {
  width: 12px;
  height: 26px;

  padding-right: calc(.5rem + 12px);
  border-left: 1px solid rgb(74, 74, 74);
  display: inline-flex;

  color: #000;
  position: relative;
  line-height: 26px;
  overflow: hidden;
  display: flex;
}

.spanNameCell, .spanName {
  white-space: nowrap;
}

.spanName {
  vertical-align: top;
}

.custom-icon {
  width: 30px;
}

.react-json-view {
  background-color: white !important;
}

.spectrum-Dialog-content ul { 
  max-width: 1000px;
}

tr.error {
  background-color: #880000 !important;
}